publico
node_modules
.DS_Store
estaticos/videos/*
!estaticos/videos/README.md
estaticos/listaVideos.json

# Ver documentación de Yarn moderno (> v2): https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/cache
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.venv
